<form action="/payment/results">
<dl>
  <dt>
    <label for="apr"> APR </label>
    <input id ="apr" type ="text" placeholder="What is the apr?" name="apr">
  </dt>
  <dt>
    <label for="max"> Number of Years </label>
    <input id ="max" type ="text" placeholder="What is the number of years?" name="num_years">
  </dt>
  <dt>
    <label for="min"> Principal </label>
    <input id ="min" type ="text" placeholder="What is the principal?" name="principal">
  </dt>
</dl>
  <button>Calculate Monthly Payment</button>

</form>
