<h1>Payment Results</h1>



<dl>
  <dt> APR </dt>
  <dd> <%= ((@apr * 100).round(4)).to_s + "%" %></dd>

  <dt> Number of Years </dt>
  <dd> <%= (@num_years.round(0).to_s)%></dd>

  <dt> Principal </dt>
  <dd> <%= number_to_currency(@principal)%></dd>

  <dt> Payment </dt>
  <dd> <%= number_to_currency(@result)%></dd>
</dl>

<a href="/payment/new">Calculate another payment</a>
