<form action="/random/results">
<dl>
  <dt>
    <label for="min"> Minimum </label>
    <input id ="min" type ="text" placeholder="What is the min?" name="user_min">
  </dt>

  <dt>
    <label for="max"> Maximum </label>
    <input id ="max" type ="text" placeholder="What is the max?" name="user_max">
  </dt>
</dl>
  <button>Pick random number</button>

</form>
