<h1> Square Root Form</h1>

<form action="/square_root/results">
  <label for="giraffe"> Enter a number </label>
  <input id ="giraffe" type ="text" placeholder="What number do you want to squareroot?" name="squareroot_num">

  <button>Calculate square root</button>

</form>

